# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code! 

Do not remove comments that start with: "# @@@" (Those are question tags)

In [2]:
# @@@ Question 1: Here is a python list, initialize another list called b with the same values as a.
a = [1, 2, 3, 4, 5, 6]
b = a.copy()
print(b)

[1, 2, 3, 4, 5, 6]

In [3]:
# @@@ Question 2: get a list containing the last 3 elements of b 
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
last_three = b[-3:]
print(last_three)

[4, 5, 6]

In [5]:
# @@@ Question 3: Create a list of numbers from 1 to 20
c = list(range(1, 21))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
# @@@ Question 4: now get a list with only the even numbers between 1 and 100
even = list(range(2,101,2))
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [8]:
# @@@ Question 5: write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divides(x,y):
    return x / y

#Example
divides(4,2)

2.0

In [10]:
# @@@ Queston 6: fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
for i in range(1,31):
    if i % 3 == 0 and i % 5 == 0:
        print("fizzbuzz")
    elif i % 3 == 0 and i % 5 != 0:
        print("fizz")
    elif i % 3 != 0 and i % 5 == 0:
        print("buzz")
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [14]:
# @@@ Question 7: create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
Ahmo_prices = {
    "Gyro" : 9,
    "Burger"  : 9,
    "Greek Salad" : 8,
    "Philly Steak" : 10
}

In [30]:
# @@@ Question 8: load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("/home/aheggie/mdst/MDST-Onboarding-main/data/starbucks.csv")
type(df)
print(df.head())

         beverage_category       beverage      beverage_prep  calories  \
0                   coffee  brewed coffee              Short         3
1                   coffee  brewed coffee               Tall         4
2                   coffee  brewed coffee             Grande         5
3                   coffee  brewed coffee              Venti         5
4  classic espresso drinks     caff latte  Short Nonfat Milk        70

   total fat  trans fat  saturated fat  sodium  total carbohydrates  \
0        0.1        0.0            0.0       0                    5
1        0.1        0.0            0.0       0                   10
2        0.1        0.0            0.0       0                   10
3        0.1        0.0            0.0       0                   10
4        0.1        0.1            0.0       5                   75

   cholesterol  dietary fibre  sugars  protein  vitamin a  vitamin c  calcium  \
0            0              0       0      0.3          0          0        0
1            0              0       0      0.5          0          0        0
2            0              0       0      1.0          0          0        0
3            0              0       0      1.0          0          0        2
4           10              0       9      6.0         10          0       20

   iron  caffeine
0   0.0     175.0
1   0.0     260.0
2   0.0     330.0
3   0.0     410.0
4   0.0      75.0

In [23]:
# @@@ Question 9: select all rows with more than and including 400 calories
high_calories = df[df['calories'] >= 400]

In [24]:
# @@@ Question 10: select all rows whose vitamin c content is higher than the iron content
higher_vitaminC = df[df['vitamin c'] > df['iron']]

In [25]:
# @@@ Question 11: create a new column containing the caffeine per calories of each drink
df['caffeine_per_calorie'] = df['caffeine'] / df['calories']

In [28]:
# @@@ Question 12: what is the average calorie across all items?
average_cal = df['calories'].mean()
print("The average calorie across all items is", average_cal)

The average calorie across all items is 193.87190082644628

In [31]:
# @@@ Question 13: how many different categories of beverages are there?
num_categories = df['beverage_category'].nunique()
print(f"There are {num_categories} different beverage categories.")

There are 9 different beverage categories.

In [32]:
# @@@ Question 14: what is the average # calories for each beverage category?
average_calories_by_category = df.groupby('beverage_category')['calories'].mean()
print(average_calories_by_category)

beverage_category
classic espresso drinks             140.172414
coffee                                4.250000
frappuccino blended coffee          276.944444
frappuccino blended crme            233.076923
frappuccino light blended coffee    162.500000
shaken iced beverages               114.444444
signature espresso drinks           250.000000
smoothies                           282.222222
tazo tea drinks                     177.307692
Name: calories, dtype: float64